body{
	background:#333333 url(images/page-bg.jpg);
	margin:0px;
	font: 400 18px/28px 'Open Sans', Verdana, Helvetica, sans-serif;
	color:#D2D2D2;
}
h1{font: 400 60px/62px 'Bree Serif', Georgia, serif; color:#D2D2D2;}
h2{font: 400 36px/40px 'Bree Serif', Georgia, serif; color:#D2D2D2;}
h3{font: 400 17px/19px 'Bree Serif', Georgia, serif; color:#D2D2D2;}
h4{font: 400 28px/30px 'Bree Serif', Georgia, serif; color:#D2D2D2;}

li:not(:last-child) {
    margin-bottom: 5px;
}

ul{margin:0px; padding:0px;}
a {text-decoration:none; color:#D2D2D2;}
a:hover {color:#979797;}
a img{border:0px;}


#container{
	width:950px;
	margin:0px auto 300px auto;
	background:url(images/body-bg.png);
	overflow:auto;
	padding-bottom:100px;
}

/****************************************************/
/* HEADER */
/****************************************************/

#header{
	width:864px;
	height:60px;
	background-color:#222222;
	padding:0px 43px;
	position: fixed;
	top:0px;
	left:50%;
	margin: 0 0 0 -475px;
}
#header #logo{
	padding-top:4px;
	float:left;
}
#header #main-menu{float:right; padding-top:10px;}
#header #main-menu li{
	float:left;
	list-style:none;
	margin-left:27px;
	font: 400 38px/42px 'Bree Serif', Georgia, serif;
}

/****************************************************/
/* ABOUT SECTION */
/****************************************************/

#about{margin:0px 43px; padding-top:20px;}
#about h1{float:left;}
#about #top-social{float:right; padding-top:62px;}
#about #top-social li{float:left; list-style:none; margin-left:10px;}
#about #top-social .facebook{
	text-indent:-9999px; 
	display:block; 
	width:26px; 
	height:26px; 
	background:url(images/sm-facebook-icon.png) no-repeat;
}
#about #top-social .twitter{
	text-indent:-9999px; 
	display:block; 
	width:31px; 
	height:24px; 
	background:url(images/sm-twitter-icon.png) no-repeat;
}
#about #top-social .github{
	text-indent:-9999px; 
	display:block; 
	width:24px; 
	height:24px; 
	background:url(images/sm-github-icon.png) no-repeat;
}
#about #top-social .linkedin{
	text-indent:-9999px; 
	display:block; 
	width:26px; 
	height:26px; 
	background:url(images/sm-linkedin-icon.png) no-repeat;
}
#about .content{overflow:auto;}
#about .content img{float:left; margin-right:40px; border:5px solid #222222;}
#about .content #service-icons{margin-top:20px;}
#about .content #service-icons li{
	display:block;
	width:108px;
	height:108px;
	text-indent:-9999px;
	list-style:none;
	float:left;
	margin-right:20px;
}
#about .content #service-icons li.services-design{background:url(images/icon-1.png) no-repeat;}
#about .content #service-icons li.services-mobile{background:url(images/icon-2.png) no-repeat;}
#about .content #service-icons li.services-film{background:url(images/icon-3.png) no-repeat;}
#about .content #service-icons li.services-photo{background:url(images/icon-4.png) no-repeat;}

/****************************************************/
/* Education SECTION */
/****************************************************/

#education{margin:0px 43px; padding-top:10px;}
#education .col{
	width:235px;
	float:left;
}
#education .content{overflow:auto;}
#education .col-mid{margin:0px 65px;}

/****************************************************/

/* Research SECTION */
/****************************************************/

#research{margin:0px 43px; padding-top:10px;}
#research .col{
	width:235px;
	float:left;
}
#research .content{overflow:auto;  ul, ol, dd {
        margin-left: 30px;
        margin-right: 20px;
    }}
#research .content img{float:left; margin-right:40px; border:5px solid #222222;}

#research .col-mid{margin:0px 65px;}

/****************************************************/

/* Updates SECTION */
/****************************************************/

#updates{margin:0px 43px; padding-top:10px;}
#updates .col{
	width:235px;
	float:left;
}
#updates .content{overflow:auto; ul, ol, dd {
        margin-left: 30px;
        margin-right: 20px;
    }}
#updates .col-mid{margin:0px 65px;}
/****************************************************/

/* Pub SECTION */
/****************************************************/

#publications{margin:0px 43px; padding-top:10px;}
#publications .col{
	width:235px;
	float:left;
}
#publications .content{overflow:auto;}
#publications .col-mid{margin:0px 65px;}
/****************************************************/

/* Software SECTION */
/****************************************************/

#software{margin:0px 43px; padding-top:10px;}
#software .col{
	width:235px;
	float:left;
}
#software .content{overflow:auto;}
#software .col-mid{margin:0px 65px;}

/****************************************************/
/* Contact SECTION */
/****************************************************/
#connect{margin:0px 43px; padding-top:10px;}
#connect .col{
	width:235px;
	float:left;
}
#connect .content{overflow:auto;}
#connect .col-mid{margin:0px 65px;}

/****************************************************/
/* MISC */
/****************************************************/
.top-divider, .bottom-divider{
	width:100%;
	height:9px;
	background:url(images/divider.png) repeat-x;
	clear:both;
}
.top-divider{margin-bottom:40px;}
.bottom-divider{margin-top:40px;}
